ody {
    background-image: url(fundo6.jpg);
    background-position: fixed;
    background-size: cover;

}
a {
    float: right;
    padding: 7px;
    color: rgb(0, 0, 0);
    font-size: 22px;
    border: 2px solid gray;
    border-radius: 20px;
    text-decoration: none;

}

a:hover{
    background-color: gray
    color black;
    transform: scale(1.2);

}
span {
    color: gray;
    font-size: 20px;
}
 
form{
    margin: 0 auto;
    width: 400px;
}
form div + div {
    margin-top: 1em;
}
label {
    display: inline-block;
    width: 90px;
    text-align: right;
}
input, textarea {
   
    font: 1em sans-serif;
    
    width: 300px;
    
    -moz-box-sizing: border-box;
    
    box-sizing: border-box;
    
    border: 1px solid goldenrod;
}